/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
  }
  
  /* Base font styles */
  body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    /* color: #333;
    background-color: #fff;  */
  }
  
  /* Global link styling */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #673995;
  }
  
  /* Ant Design overrides */
  .ant-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Footer styling */
  .ant-layout-footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-top: auto;
  }
  
  /* Custom button styling */
  .ant-btn-primary {
    background-color: #673995;
    border-color: #673995;
  }
  
  .ant-btn-primary:hover, 
  .ant-btn-primary:focus {
    background-color: #5c338a;
    border-color: #5c338a;
  }
  